<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="description" content="Local deals by local people.">
<head>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	
	<style>
		@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Trocchi');
	</style>
	
	<title>LocaList</title>
</head>
<body>
	{{{body}}}
</body>
</html>