<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="description" content="Local deals by local people.">
<head>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	
	<title>LocaList</title>
</head>
<body>
	{{{body}}}
</body>
</html>