<div class="container">
    <div class="row">
        <div class="col-md-6">
        {{!-- <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <h1>LocaList</h1> --}}
                <h2>Sign up!</h2>
                <div id="messages"></div>
                <form id="author-form">
                    <label for="author-email">Email Address</label><br>
                    <input placeholder="Email Address" id="author-email" type="text"><br><br>
                    
                    <label for="author-password">Password</label><br>
                    <input placeholder="Password" id="author-password" type="password"><br><br>

                    <label for="author-name">Name</label><br>
                    <input placeholder="Full Name" id="author-name" type="text"><br><br>

                    <label for="author-zip">Zip Code</label><br>
                    <input placeholder="Zip Code" id="author-zip" type="text"><br><br>

                    <button type="submit" class="btn btn-success" {{!-- data-toggle="modal" data-target="#welcomeModal" --}}>Create an Account</button>

                    {{!-- <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email Address</th>
                                <th>Password</th>
                                <th>Full Name</th> 
                                <th>Zip Code</th>
                                <th>Create an Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="form-row">
                                <td>
                                    <input placeholder="Enter your Email Address" id="author-email" type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter your Password" id="author-password" type="password">
                                </td>
                                 <td>
                                    <input placeholder="Enter your Full Name" id="author-name" type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter your Zip Code" id="author-zip" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#welcomeModal">Create an Account</button>
                                </td>
                            </tr>
                            <tr>
                                
                            </tr>
                            <tr>
                                 
                            </tr>
                        </tbody>
                    </table> --}}
                </form>
        </div> {{!-- user sign up --}}

        <div class="col-md-6">
            <h2>Log in!</h2>
            <div id="messages"></div>
            <form id="login-form">
                <label for="login-email">Email Address</label><br>
                <input placeholder="Email Address" id="login-email" type="text"><br><br>
                
                <label for="login-password">Password</label><br>
                <input placeholder="Password" id="login-password" type="password"><br><br>

                <button type="submit" class="btn btn-success" {{!-- data-toggle="modal" data-target="#welcomeModal" --}}>Login</button>
            </form>
        </div>
    </div> {{!-- end row --}}
</div> {{!-- end container --}}


{{!-- 
<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome!</h4>
      </div>
      <div class="modal-body">
        <h2>Are you <a href="/buyer">buying</a> or <a href="/seller">selling</a> today?</h2>
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> --}}
    </div>
  </div>
</div> --}}