<body>
    <div class="container">
        <div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/blog">Go to Buyer's Page</a>
      </div>
            <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/cms">Go to Seller's Page </a>
      </div>
    </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="author-container">
                    <h1>LocaList</h1>
                    <form id="author-form">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email Address</th>
                                <th>Full Name</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="form-row">
                                <td>
                                    <input placeholder="Enter your Email Address" id="author-name" type="text" />
                                </td>
                                 <td>
                                    <input placeholder="Enter your Full Name" id="author-name" type="text" />
                                </td>

                            </tr>
                            <tr>
                                <th>Zip Code</th>
                                <th>Create an Account</th>
                            </tr>
                            <tr>
                                 <td>
                                    <input placeholder="Enter your Zip Code" id="author-name" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Create an Account</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        </d>

