<h2>PROBABLY NOT USING THIS PAGE</h2> {{! find way to add Welcome, "user_name"}}

<div class="container">
	<h3>Are you <a href="/buyer">buying</a> or <a href="/seller">selling</a> today?</h3>
</div>

	{{!-- <form id="userForm" action="/NEEDPATH" method="POST"> --}}
		
{{!-- not sure what this code is for or where it came from?
		{{#each students}}
			<p> {{this.systemNumber}} {{this.first_name}} {{this.last_name}}</p>

		{{/each}}
<h2> Add A New Profile</h2>
	<form class="create-update-form" action="/user" method="POST">
	<p>Enter New User Information</p>
	  <div class="form-group">
	  	<label for="ca">Email:</label>
	  	<input type="text" id="ca" name="systemNumber">
	  	<label for="ca">First Name:</label>
	  	<input type="text" id="ca" name="first_name">
	  	<label for="ca">Last Name:</label>
	  	<input type="text" id="ca" name="last_name">
	  	<label for="ca">Password:</label>
	  	<input type="text" id="ca" name="pass_word">
	  </div>
		<button class="submitButton"> Add New User </button>
	</form> --}}

