<h2>Add your event or item for sale.</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <form id="post-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <textarea placeholder="Post Title" name="title" class="form-control" id="title"></textarea>
        <div id="title"></div>
          <br>

        <label for="body">Body:</label>
        <textarea placeholder="Post Body" name="body" class="form-control" rows="10" id="body"></textarea>
        <!-- TODO add price field -->
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" name="price" class="form-control" id="price">
        </div>
        <div class="form-group">
            <label for="maincategory">Category:</label>
            <select name="maincategory" class="form-control" id="maincategory">
            </select>
        </div>
        <div class="form-group">
            <label for="subcategory">Select Subcategory:</label>
            <select name="subcategory" class="form-control" id="subcategory">
          </select>
        </div>
        <br />
        <button type="submit" class="btn btn-success submit">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div> 

<div id="userId" style="display:none">{{id}}</div>

<script src="js/createpost.js" type="text/javascript"></script>





  {{!-- <form id="listing" class="create-update-form" action="/add" method="POST">
  <form id="listing" class="create-update-form">
    <div class="form-group">

      <label for="post_title">Title</label>
      <input type="text" id="post_title" name="post_title"><br>

      <select id="category">
        <option value="1">For Sale</option>
        <option value="2">Housing</option>
        <option value="3">Community</option>
      </select><br>

      <label for="post_body">Body</label>
      <input type="text" id="post_body" name="post_body"><br>

      <label for="post_price">Price</label>
      <input type="number" id="post_price" name="post_price"><br>

    </div>

    <button type="submit">Submit new listing!</button>
  </form> --}}