<h2>Whatcha Sellin'?</h2>

<div class="container">
  <h3>Create a new listing!</h3>

  {{!-- <form id="listing" class="create-update-form" action="/add" method="POST"> --}}
  <form id="listing" class="create-update-form">
    <div class="form-group">

      <label for="post_title">Title</label>
      <input type="text" id="post_title" name="post_title"><br>

      <select id="category">
        <option value="1">For Sale</option>
        <option value="2">Housing</option>
        <option value="3">Community</option>
      </select><br>

      <label for="post_body">Body</label>
      <input type="text" id="post_body" name="post_body"><br>

      <label for="post_price">Price</label>
      <input type="number" id="post_price" name="post_price"><br>

    </div>

    <button type="submit">Submit new listing!</button>
  </form>


<h3>Your current listings!</h3>
<ul>
    {{#each dbposts}}
      <li>
        {{this.post_title}}
        {{!-- {{this.post_body}} --}}
      </li>
    {{/each}}
  </ul>

</div>