// partials
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Trocchi');

// color scheme:
$pink: #EAD5E1;
$mint: #AEE0C5;
$blue: #CBEAEB;
$orange: #FFB100;
$deep_turq: #6799A3;
$my_base_color: #ffffff;
$font_color: black;


// fonts:
$font_heads: 'Trocchi', serif;
$font_posts: 'Source Sans Pro', sans-serif;